<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->

    <title>{% block title %}Welcome!{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{asset('boostrup/css/bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{asset('css/estilo.css')}}">
    {% endblock %}
    <h1>CABECERA</h1>
</head>
<body>
    <div id="contenedor">

        {% block contenido %}
        {% endblock %}

        {% block javascripts %}

            <script src="{{asset('js/jquery-3.3.1.js')}}"></script>
            <script src="{{asset('boostrup/js/popper.min.js')}}"></script>
            <script src="{{asset('boostrup/js/bootstrap.min.js')}}"></script>

        {% endblock %}
    </div>
</body>
</html>